#releases {
  height: auto;
}

.releases-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: 30px;
  width: clamp(400px, 50vw, 800px);
  min-height: 1000px;
}

.release {
  display: grid;
  place-items: center;
  place-content: center;
  /* background-color: var(--highlight-color); */
  width: 240px;
  height: 320px;
  border-radius: 5px;
  box-shadow: 5px 5px 32px rgba(30,30,30,0.08);
  cursor: pointer;
  transition: 0.4s ease;
}

.release:hover {
  filter: brightness(0.8);
}

.release-text {
  margin: 1px;
  padding: 0 20px;
  color: var(--text-color);
  line-height: 20px;
  text-align: center;
  width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.release-info {
  margin: 15px 0;
}

.cover {
  width: 200px;
  height: 200px;
  /* box-shadow: 5px 7px 20px rgba(30,30,30,0.15); */
  border-radius: 3px;
}

#artist {
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 20px;
}

#title {
  font-weight: 200;
  font-size: 15px;
}

@media screen and (max-width: 1300px) {
  .releases-container {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .releases-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}